.container {
  margin: auto;
  margin-top: 5%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-form-field {
  margin-bottom: 2%;
}

/* hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(100, 183, 178);
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgb(100, 183, 178);
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: rgb(100, 183, 178);
}

.button-save {
  height: 40px;
  background-color: rgb(100, 183, 178);
  border-radius: 0.5em;
}

.button-save:hover:enabled {
  background-color: whitesmoke;
  color: rgb(100, 183, 178);
}

.pointer {
  cursor: pointer;
}
